:root {
  --main-dust-grey: #DAD7CD;
  --main-dry-sage: #A3B18A;
  --main-fern: #588157;
  --main-hunter-green: #3A5A40;
  --main-pine-teal: #344E41;
  --main-brown: #746355;
  --main-brick: #bc4749;
}

html, body, #root {
  margin: 0;
  font-family: "Segoe Ui", Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #344E41;
  color: #DAD7CD;
}

#root {
  margin-left: auto;
  margin-right: auto;
}
