html, body, #root {
  height: 100%;
  margin: 0;
  font-family: "Segoe Ui", Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #344E41;
  color: #DAD7CD;
}

#root {
  width: 85%;
}
