.header {
    height: 15%;
    transition: opacity 0.2s ease-in;
}

.hideHeader {
    height: 15%;
    visibility: hidden;
    opacity: 0;
}

.nav {
    width: 85%; /*position: fixed overrides typical layout => needs to assign width manually*/
    min-height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 0 10px;
    background-color: hsl(0, 0%, 100%, 0.027);
    backdrop-filter: blur(15px);

    position: fixed;
    top: 25px;
    z-index: 3;
}

.brand {
    display: flex;
    width: 16%;
    gap: 5px;
}

.logo {
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.brandText {
    font-size: 30px;
    text-decoration: none;
    font-family: "Segoe Ui", Arial, sans-serif;
    font-weight: bold;
    color: #DAD7CD;
}


.rightNav {
    display: flex;
    gap: 7px;
    align-items: center;
}
