.header {
    height: 110px;
    transition: opacity 0.2s ease-in;
    width: 100%;
}

.hideHeader {
    height: 110px;
    visibility: hidden;
    opacity: 0;
}

.nav {
    width: 85%; /*position: fixed overrides typical layout => needs to assign width manually*/
    min-height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 0 10px;
    background-color: hsl(0, 0%, 100%, 0.027);
    backdrop-filter: blur(15px);

    position: fixed;
    top: 25px;
    z-index: 3;
}

.about {
    display: flex;
    gap: 10px;
}

.sectionAnchor {
    text-decoration: none;
    color: inherit;
}


.rightNav {
    display: flex;
    gap: 7px;
    align-items: center;
}
