[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-cors-headers = "*"
requests = "*"
google-auth = {extras = ["requests"], version = "*"}
stripe = "*"
pytest = "*"
pytest-django = "*"
redis = "*"
django-redis = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
