.brand {
    display: flex;
    width: 16%;
    gap: 5px;
}

.logo {
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.brandText {
    font-size: 30px;
    text-decoration: none;
    font-family: "Segoe Ui", Arial, sans-serif;
    font-weight: bold;
    color: #DAD7CD;
}
