.header {
    min-height: 7%;
    display: flex;
    align-items: center;
    border: 2px solid black;
}

.brand {
    font-size: 30px;
    text-decoration: none;
    font-family: "Segoe Ui", Arial, sans-serif;
    font-weight: bold;
    color: #cbbda2;
}
