.about {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.aboutCategories {
    display: flex;
    width: 100%;
    gap: 40px;
}

.aboutCategory {
    width: 100%;
}

.categoryValue {
    font-weight: normal;
}
