

.introductionText {
    flex: 2;
    display: flex;
    flex-direction: column;
    font-size: 40px;
}

.graphs {
    display: flex;
    width: calc(100vw - 3vw);
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 400px;
}

